{{#with plant}}
<div class="w3-section">
    <section class="w3-card w3-padding w3-theme w3-container">
        <h1 id="name">{{Name}}&nbsp;<span class="w3-text-dark-gray w3-medium vert-middle">({{LatinName}})</span></h1>
        <div class="w3-threequarter w3-padding" id="description">
            {{Name}} - {{Description}}
        </div>
        <img src="/images/{{LatinName}}.jpg" class="w3-quarter">
    </section>
    <a href="edit">Редактировать</a>
</div>
{{/with}}