{{#with plant}}
<div class="w3-section">
    <section class="w3-card w3-padding w3-theme w3-container">
        <h1>{{name}}<span class="w3-text-dark-gray w3-medium">({{latin}})</span></h1>
        <div class="w3-threequarter w3-padding">
            {{name}} - {{description}}
        </div>
        <img src="/images/{{latin}}.jpg" class="w3-quarter">
    </section>
</div>
{{/with}}